.mybank{
    display:inline;
    font-size: xx-large;

    color: greenyellow;
}

.bar{
    display: inline-block;
    position: relative;
    left: 70%;
    padding: 10px;
    color: black;
}
.bank{
    font-size: x-large;
    display: flex;
    position: relative;
    justify-content: center;
    top: 200px;
}

.number1{
    display: inline;
    position: relative;
    justify-content: center;
    top: 250px;
    left: 700px;
}

.income{
    display: inline;
    position: relative;
    justify-content: center;
    top: 250px;
    left: 690px;
}

.number2{
    display: inline;
    position: relative;
    justify-content: center;
    top: 290px;
    left: 343px;
}

.withdraw{
    display: inline;
    position: relative;
    justify-content: center;
    top: 290px;
    left: 323px;
}

.balance{
display: flex;
position: relative;
justify-content: center;
top: 145px;
left: 100px;
}

.add{
   position: relative;
   top: 250px;
   left: 710px;
}

.ret{
    position: relative;
    top: 290px;
    left: 350px;
}

.secure{
    style:display none;
}

.login{
position: absolute;
display: flex;
align-items: center;
justify-content: center;
left: 500px;
top: 300px;
}

body{
    background-image: url(./html-color-codes-color-tutorials-hero.jpg);
    background-repeat: no-repeat;
    background-size: 3200px;
    background-position: center;
}

.top-bar{
    display: inline;
    position: relative;
    top: -310px;
    left: -470px;
    font-size: xx-large;
}


